<h1>Listing users</h1>

<a href="/auth/twitter">Connect with Twitter</a>

<table>
  <tr>
    <th>User</th>
    <th>Screen name</th>
    <th>Name</th>
    <th>Profile image url</th>
    <th>Location</th>
    <th>Url</th>
    <th>Description</th>
    <th>Tweets</th>
    <th>Following</th>
    <th>Followers</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.user_id %></td>
    <td><%= user.screen_name %></td>
    <td><%= user.name %></td>
    <td><%= user.profile_image_url %></td>
    <td><%= user.location %></td>
    <td><%= user.url %></td>
    <td><%= user.description %></td>
    <td><%= user.status_count %></td>
    <td><%= user.friends_count %></td>
    <td><%= user.followers_count %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
